/*Styles Próprios*/

/*IDs pricipais*/
/*id-logoSite-ID que guarda a logo marca*/
header#logoSite{
	
}
/*id-navigationMenu-ID que guarda o menu de negacão*/
nav#navigationMenu{
	
}
/*id-contentBody-ID que guarda o conteúdo do corpo do site*/
article#contentBody{
	
}
section#contentBanner{
	float:left;
}
/*id-newsAndMenu-ID que guarda a parte lateral do site*/
aside#newsAndCategories{
	float:left;
}
ul.categoriesAndNews li{
	list-style-type:none;
}
/*id-footerSite-ID que guarda o rodapé do site*/
footer#footerSite{
	
}
/*Final dos IDs principais*/